# Core libraries
numpy<2
pandas
tqdm
python-dotenv
psycopg2-binary
scikit-learn
umap-learn

# Web scraping / acquisition
requests
beautifulsoup4
requests-html
lxml[html_clean]

# NLP / topic modeling
nltk
spacy
langdetect
gensim
sentence-transformers
regex

# VectorDB
faiss-cpu
pinecone
qdrant-client

# LLMs
transformers
langchain
langchain-community
bertopic
# openai
# torch
# sentencepiece
